<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <variable name="version" value="${gdc:item=assemblyVersion:WhenEmpty=${assembly-version}}"/>
  <variable name="servicename" value="CustomWebAPI"/>
  <!--{@value=$if-not-empty(LOGS_PATH)}-->
  <variable name="logs-path" value="${basedir}/log"/>
  <variable name="log-full-filename" value="${logs-path}/${machinename}.${servicename}.${shortdate}.log" />

  <variable name="console-layout" value="default" />
  <variable name="console-layout" value="${time} ${console-layout}" />

  <targets>
    <default-wrapper xsi:type="AsyncWrapper" queueLimit="50000" optimizeBufferReuse="true"/>
    <default-target-parameters xsi:type="File" concurrentWrites="true" keepFileOpen="true"/>

    <target name="file" xsi:type="File" fileName="${log-full-filename}">
      <layout template="default" />
      <footer template="default" />
    </target>

    <target template="defaultConsole" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file, console"/>
  </rules>
</nlog>
